.containerPercentuali {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
}

.variePercent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}
